<style>
    h1{
      font-family: sans-serif;
    }
    p{
      font-weight: 600;
      font-size: 3em;
    }
    body{
      font-size: 16px;
    }
    ul{
      font-style: oblique;
      line-height: 1;
      text-align: center;
      text-decoration: underline;
    }
    #um{
      color: yellow;
    }
    #dois{
      color: red;
    }
    #tres{
      color:brown;
    }
  </style>