
body{
    font-family: 'Montserrat', sans-serif;    
    font-size: 15px;
    color: #475550
}

#imagemDeFundo{
    width: 400px
    
    
}

.top{
    color: blue;
    font-weight: 600;
    line-height: 50px;
}

.trybe-green{
    color: #11a36a;

}

.section-tittle{
    line-height: 30px;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.section-text{

    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    
}

.testimonials{
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    
}

.picture{
    border-radius: 100%;
    max-width: 120px;

}

.call-to-action{
    
    width: 300px;
    background-color: #11a36a;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin:30px auto;

}
.call-to-action:hover{

    background-color: #0a7e51;

}